body{
    font-family: 'Open sans';
}

nav{
    padding-bottom: 20px;
    font-size: 12px;

}

footer{
    font-size: 14px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgb(218, 218, 218);
    background-color: #ebebeb;
    bottom: 0;
    position: absolute;
    height: 35px;
    padding-bottom: 10px;
    width: 100%;
    margin-left: -10px;
}

.left {
    float: left;
}

.right {
   float: right;
}

.footerlist{
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    color: #505050
}

li {
    display: inline;
    margin: 15px 25px 0px -10px;
}

.signin {
    background-color: #4777fa;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
    border-radius: 2px;
    font-weight: bold;
}

.logo{
    float: middle;
}